@using Ninject;
@using ThreeLayer.Common.Entities; 

@{
    Layout = "~/Layouts/LogOutLayout.cshtml";
}

@{
    @RenderPage("~/PartialPages/_usersList.cshtml")
    var userId = Convert.ToInt32(Request.Params["userId"]);
    var userManager = ThreeLayer.PL.WebPages.DependencesContainer.Resolver.Get<ThreeLayer.BLL.UsersLogicContracts.IUsersManager>();
    // TODO: get user by ID
    var user = userManager.GetAllUsers().FirstOrDefault(item => item.Id == userId);
}

<div>
    <div id="modalUserBox" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@user.Name</h4>
                </div>
                <div class="modal-body">
                    <h6 class="card-subtitle mb-2 text-muted">Name: @user.Name</h6>
                    <img src="~/Images/user.png" width="40" height="40">
                    <p>Date of Birth: @user.DateOfBirth.ToString("MM/dd/yyyy")</p>
                    <p>Age: @user.Age</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    @*<button type="button" class="btn btn-primary">Сохранить изменения</button>*@
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#modalUserBox").modal('show');
        });
    </script>
</div>
